* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 1440px;
    margin: 36px auto 0;
    padding: 0 5%;
    background-color: #1D1F29;
    color: #fff;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switcher {
    display: flex;
    cursor: pointer;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}

.total_follow {
    color: #8C98C6;
    font-size: 14px;
    font-weight: 700;
}

.mode {
    margin: 3px 13px 3px 0;
    color: #8C98C6;
    font-size: 14px;
    font-weight: 700;

}

.overview_main {
    margin-top: 46px;
    /* display: flex; */
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.social {
    background-color: #252B42;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.07s;
}

.social:hover {
    background-color: #333A55;
}


.social_color {
    display: block;
    content: "";
    width: 100%;
    height: 4px;

}

.fb {
    background-color: #178FF5;
}

.tw {
    background-color: #1DA1F2;
}

.is {
    background: linear-gradient(to left, #df4896, #e6538e, #ea5f87, #ed6b82, #ee777f, #f3807b, #f68a78, #f89476, #fd9f71, #ffaa6c, #ffb668, #fdc366);
    ;
}

.yt {
    background-color: #C4032B;
}

.social_type {
    margin: 32px auto 28px;
    display: flex;
    justify-content: center;
}

.logo {
    margin-right: 8px;
}

.name {
    color: #8C98C6;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.total {
    font-size: 56px;
    font-weight: 700;
}

.unit {
    color: #8C98C6;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.change_containter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}

.arrow {
    width: 8px;
    height: 4px;
    margin-right: 4px;
}

.change {
    font-size: 12px;
    font-weight: 700;
}

.green {
    color: #1EB589;
}

.red {
    color: #DC414C;
}

.secondary_title {
    margin-top: 46px;
    font-size: 24px;
    font-weight: 700;
}

.overview_today {
    margin: 24px 0 75px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 24px 30px;
}

.overview_item {
    background-color: #252B42;
    width: 100%;
    height: 125px;
    border-radius: 5px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    transition: 0.07s;
    cursor: pointer;
}

.overview_item:hover {
    background-color: #333A55;
}


.left {
    justify-self: left;
}

.up {
    align-self: start;
}

.right {
    justify-self: right;
}

.down {
    align-self: end;
}

.change_container {
    display: flex;
    align-items: center;
}

.description {
    font-size: 14px;
    font-weight: 700;
    color: #8C98C6;
    line-height: 20px;
}

.summary {
    font-size: 32px;
    font-weight: 700;
}